.blog {
  width: 75ch;
  max-width: 85vw;
  margin: 5em auto 2em;
  font-family: "inter", sans-serif;
}

.blog li {
  list-style-type: disc;
}

.blog a {
  color: black;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.3em;
}

.date {
  text-align: center;
  color: dimgray;
  margin-bottom: 3em;
}

.emoji {
  font-size: 1.5rem;
}
