@media (min-width: 768px) {
  .wrapper {
    background: linear-gradient(
      90deg,
      transparent 65%,
      rgba(249, 220, 36, 0.4) 35%
    );
    width: 100%;
    z-index: -1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 1em;
  max-width: 1200px;
}

.navLinks {
  display: flex;
}

.navLinks li {
  margin-right: 1.5em;
  text-decoration: underline;
  cursor: pointer;
}

.navLinks a {
  color: black;
}

.navLinks a:hover {
  color: #eb8a44;
}

.logo {
  display: none;
}

.thumbnail {
  display: none;
}

@media (min-width: 768px) {
  .thumbnail {
    display: block;
    width: 135px;
    padding: 0 1em;
  }

  .logo {
    display: block;
    max-width: 175px;
    height: auto;
    padding: 0 1em;
  }

  .logo img {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .thumbnail {
    animation: thumbnail-spin infinite 2s alternate linear;
  }
}

@keyframes thumbnail-spin {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}
