header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 1em;
  max-width: 1200px;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-right: 1.5em;
}

.logo {
  max-width: 175px;
  height: auto;
  padding: 0 1em;
}

.logo img {
  width: 100%;
}

.thumbnail {
  display: none;
}

@media (min-width: 768px) {
  .thumbnail {
    display: block;
    width: 135px;
    padding: 0 1em;
  }
}
