@media (min-width: 768px) {
  .wrapper {
    background: linear-gradient(
      90deg,
      transparent 65%,
      rgba(249, 220, 36, 0.4) 35%
    );
    width: 100%;
    z-index: -1;
    min-height: 85vh;
  }
}

.hero {
  margin-bottom: 2em;
}
