*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto Mono", monospace;
  --ff-secondary: "Lora", serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-txt: #111d33;
  --clr-ylw: #f9dc24;
  --clr-org: #eb8a44;
  --clr-lm: #8eba43;
  --clr-olv: #4b7447;

  --fs-h1: 3.75rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 992px) {
  :root {
    --fs-h1: 5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  color: var(--clr-txt);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
  max-width: 1200px;
  margin: 0 auto;
}

strong {
  font-weight: var(--fw-bold);
}

small {
  font-size: .8rem;
  font-weight: 300;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
  margin-bottom: 1em;
}

li,
p {
  font-size: var(--fs-body);
}

::selection {
  background: #eb8a44;
}

.btnGhost,
.btnFull,
.btnSmall {
  outline: none;
  border: 1px solid var(--clr-lm);
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-family: var(--ff-primary);
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.btnSmall {
  padding: .75em 1em;
  font-size: 1rem;
  margin-bottom: 1em;
}

.btnGhost,
.btnFull {
  padding: 1em 2em;
  font-size: 1.125rem;
  margin-top: 1.25em;
}

.btnGhost:hover,
.btnFull:hover,
.btnSmall:hover {
  background-color: var(--clr-lm);
  color: #ffffff;
}

.btnGhost:active,
.btnFull:active,
.btnSmall:active {
  box-shadow: none;
}

.btnGhost {
  background-color: transparent;
  margin-right: 0.75em;
}

.btnFull,
.btnSmall {
  background: rgba(142, 186, 67, 0.4);
}

.border {
  width: 100px;
}

.title-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer {
  background-color: rgba(249, 220, 36, 0.4);
  color: var(--clr-txt);
  text-transform: uppercase;
  padding: 1em 2em;
  text-align: center;
}

footer small {
  display: block;
  margin-bottom: .5em;
}

.gatsby-logo {
  display: inline-block;
  width: 80px;
}
