.wrapper {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 350px;
  height: auto;
  margin: 1rem;
  padding-bottom: 1rem;
}

.card img {
  border-radius: 10px 10px 0 0;
}

.body {
  margin: 1rem;
}

.body h3 {
  font-weight: 500;
  line-height: 1.25;
}

.wrapper a {
  color: #111d33;
}

.emoji {
  font-size: 1.5rem;
}
