.projects {
  margin-top: 3em;
}

.project {
  border: 1px solid #f9dc24;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin: 1em 0;
  padding: 1em;
}

@media (min-width: 992px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4em;
  }
  .project {
    padding: 2em;
    display: grid;
    grid-template-columns: minmax(250px, 1.5fr) 2fr;
    grid-gap: 1.5em;
    align-items: center;
  }
  .description {
    margin-bottom: 0;
  }
}

.description {
  margin-bottom: 1.5em;
}

.description h3 {
  font-family: "Lora", serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.tech {
  text-transform: uppercase;
  margin-right: 2em;
}

.actions {
  margin-top: 1em;
}

.actions a {
  font-size: 1.5rem;
  margin-right: 0.75em;
  color: #656565;
  transition: 250ms ease-in-out;
}

.actions a:hover,
.actions a:active {
  color: #eb8a44;
}
